@import url(https://db.onlinewebfonts.com/c/088f292cf151a6e496fc8cdc5441b3e3?family=Lovelo-Black);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

.green-button {
  border: none;
  background-color: #397013;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(57, 112, 19, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.green-button:hover {
  background-color: #4a8b1b;
  box-shadow: 0 5px 15px rgba(75, 140, 28, 0.4);
}

/*navbar*/

nav {
  margin: -2vh 5vw 5vh 5vw;
  padding: 4vh 0vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lovelo-Black', sans-serif;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px rgb(223, 223, 223);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 999;
}

.logo-nav {
  width: 15vh;
  object-fit: contain;
}

#navbar {
  list-style: none;
  display: flex;
  gap: 5vh;
  font-size: 13px;

  a {
    transition: 0.3s;
  }

  a:hover {
    cursor: pointer;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
}

/*hero*/

#hero {
  margin: 25vh 5vw;
  display: flex;
  gap: 5vh;
  font-family: "DM Sans", sans-serif;

  .hero-small-text {
    font-family: 'Lovelo-Black', sans-serif;
    color: gray;
    font-size: 15px;
  }

  h1 {
    font-size: 7vw;
    font-weight: 500;
    line-height: 110px;

    span {
      font-style: italic;
      color: #397013;
    }
  }

  .hero-description {
    margin: 3vh 0vw;

    p {
      font-family: "DM Sans", sans-serif;
      font-weight: 600;
    }
  }

  #action-buttons {
    display: flex;
    gap: 2vw;
  }

  .hero-img-phone {
    display: none;
  }

  .hero-img-desktop {
    height: auto;
    width: 50vw;
    object-fit: cover;
  }

  #card {
    width: 15vw;
    height: auto;
    border-radius: 20px;
    border: solid 2px white;
    backdrop-filter: blur(30px);
    position: absolute;

    h4,
    p {
      font-family: "DM Sans", sans-serif;
    }

    .background {
      padding: 15px;
      border-radius: 20px;
      background-color: rgba(236, 236, 236, 0.6);
    }
  }
}

/*intro*/
.intro {
  font-family: "DM Sans", sans-serif;
  margin: 2vh 5vw;
  background-image: url("./intro-pic.jpg");
  background-size: cover;
  height: 100vh;
  border-radius: 50px;
  padding: 10vh;

  .content {
    display: flex;
    justify-content: center;
    gap: 5vw;

    div {
      width: 50%;
    }
  }

  .header {
    font-family: 'Lovelo-Black', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 15px;
  }

  .title {
    color: black;
    font-size: 50px;
    font-weight: 500;

    span {
      color: #397013;
    }
  }

  .description {
    font-weight: 600;
    color: rgb(63, 63, 63);
  }

  .second-paragraph {
    margin-top: 5vh;
  }
}

/*benefits*/

#benefits {
  margin: 15vh 5vw;

  .header {
    text-align: center;
    font-family: 'Lovelo-Black', sans-serif;
    color: gray;
  }

  h1 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 40px;

    span {
      color: #397013;
    }
  }

  .description {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: gray;
    font-weight: 500;
  }

  .card {
    margin: 5vh 0vw;
    display: flex;
    justify-content: center;
    gap: 5vw;

    .sub-card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      gap: 2vw;
      border-radius: 30px;
    }

    img {
      width: 10vw;
      height: 10vw;
      object-fit: cover;
      border-radius: 30px;
    }

    .card-text {
      margin: 2vh 2vw 0vh 0vw;
      font-family: "DM Sans", sans-serif;

      .icon {
        color: #397013;
      }

      p {
        color: gray;
        font-weight: 500;
      }
    }
  }
}

/*products*/

#products {
  font-family: "DM Sans", sans-serif;
  margin: 23vh 6vw;
  padding: 5vh 0vw;

  h1 {
    margin-bottom: 5vh;
  }

  #cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    .card {
      border-radius: 30px;
      text-align: center;

      img.product-img {
        width: 26vw;
        height: 45vh;
        object-fit: cover;
        border-radius: 20px;
      }

      #card {
        width: 60%;
        margin: 0 auto;
        margin-top: -5vh;
        border-radius: 20px;
        border: solid 1px white;
        backdrop-filter: blur(30px);

        .background {
          background-color: rgba(236, 236, 236, 0.6);
          border-radius: 20px;
          padding: 15px 0px;

          h3 {
            font-size: 23px;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;
          }

          .svg {
            width: 20px;
          }
        }
      }

    }
  }
}

/*contact*/

#contact {
  background: url("https://agricoh.iarc.fr/banner1.jpg");
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    font-family: "DM Sans", sans-serif;
    background-color: white;
    height: 65vh;
    width: 70vw;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 2vw;

    .sub-container {
      width: 50%;
      margin: 2vh 0vw;

      h1,
      h2,
      h3 {
        margin: 2vh 0vw;
      }

    }
  }

  #contact-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;

    label {
      color: gray;
    }

    input,
    textarea {
      border: none;
      background-color: #F1F6F2;
      border-radius: 10px;
      font-family: inherit;
    }

    input {
      padding: 10px 15px;
    }

    .textarea {
      flex-grow: 2;
    }

    textarea {
      width: 32vw;
      height: 20vh;
    }
  }

  .submit {
    font-family: 'Lovelo-Black', sans-serif;
    border: none;
    background-color: #397013;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(57, 112, 19, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin: 2vh 0vw;
  }

  .submit:hover {
    background-color: #4a8b1b;
    box-shadow: 0 5px 15px rgba(75, 140, 28, 0.4);
  }
}