@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.green-button {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #397013;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(57, 112, 19, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.green-button:hover {
  background-color: #4a8b1b;
  box-shadow: 0 5px 15px rgba(75, 140, 28, 0.4);
}

.header {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
  font-size: 15px;
  margin-bottom: 1vh;
}

a {
  color: black;
  text-decoration: none;
}

/*navbar*/

nav {
  margin: -2vh 5vw 5vh 5vw;
  padding: 4vh 0vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px rgb(223, 223, 223);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 999;
}

.logo-nav {
  width: 15vh;
  object-fit: contain;
}

#navbar {
  list-style: none;
  display: flex;
  gap: 5vh;
  font-size: 13px;

  a {
    transition: 0.3s;
  }

  a:hover {
    cursor: pointer;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
}

/*hero*/

#hero {
  margin: 25vh 5vw;
  display: flex;
  gap: 5vh;
  font-family: "DM Sans", sans-serif;

  .hero-text {
    .header {
      text-align: left;
    }

    h1 {
      font-size: 7vw;
      font-weight: 500;
      line-height: 15vh;

      span {
        font-style: italic;
        color: #397013;
      }
    }

    .hero-description {
      margin: 3vh 0vw;

      p {
        font-weight: 600;
      }
    }

    #action-buttons {
      display: flex;
      gap: 2vw;
      font-family: 'Lovelo-Black', sans-serif;
    }

    #mobile-hero-btn {
      display: none;
    }
  }

  .hero-img {
    #hero-img {
      display: flex;
      align-items: center;

      #card:first-of-type {
        margin-right: -12vw;
      }

      .hero-img-desktop {
        height: auto;
        width: 50vw;
        object-fit: cover;
      }

      #card:last-of-type {
        margin-left: -12vw;
        margin-bottom: -25vh;
      }

      #card {
        width: 15vw;
        height: auto;
        border-radius: 20px;
        border: solid 2px white;
        backdrop-filter: blur(30px);

        h4,
        p {
          font-family: "DM Sans", sans-serif;
        }

        .background {
          padding: 15px;
          border-radius: 20px;
          background-color: rgba(236, 236, 236, 0.6);
        }
      }
    }

  }

}

/*intro*/

#intro {
  font-family: "DM Sans", sans-serif;
  margin: 5vh 5vw 0vh 5vw;
  background-image: url("/intro-pic.jpg");
  background-size: cover;
  height: 100vh;
  border-radius: 50px;
  padding: 10vh;

  .header {
    text-align: left;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 5vw;

    div {
      width: 50%;

      .title {
        color: black;
        font-size: 50px;
        font-weight: 500;

        span {
          color: #397013;
        }
      }

      .description {
        font-weight: 600;
        color: rgb(63, 63, 63);

        .second-paragraph {
          margin-top: 5vh;
        }
      }
    }
  }

  button {
    display: none;
  }
}

/*benefits*/

#benefits {
  margin: 15vh 5vw;
  font-family: "DM Sans", sans-serif;
  text-align: center;

  h1 {
    font-size: 40px;

    span {
      color: #397013;
    }
  }

  .description {
    color: gray;
    font-weight: 500;
  }

  .cards-list {
    margin: 5vh 0vw;
    display: flex;
    justify-content: center;
    gap: 5vw;

    .card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      gap: 2vw;
      border-radius: 25px;
      height: auto;
    }

    img {
      width: 10vw;
      height: 10vw;
      object-fit: cover;
      border-radius: 25px;
    }

    .card-text {
      margin: 2vh 2vw 0vh 0vw;
      font-family: "DM Sans", sans-serif;
      text-align: left;

      .icon {
        color: #397013;
      }

      p {
        color: gray;
        font-weight: 500;
      }
    }
  }
}

/*products*/

#products {
  margin: 5vh 5vw;
  text-align: left;

  .products-title {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;

    h1 {
      font-size: 40px;
    }

    span {
      color: #397013;
    }

    p {
      font-weight: 500;
      color: gray;
    }
  }

  #cards {
    display: flex;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    justify-content: center;
    gap: 0;
  }

  .card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: max-width 0.5s ease;
    max-width: 50px;
    cursor: pointer;
  }

  .card.expanded {
    max-width: 75vw;
  }

  .strip {
    height: 90vh;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2vh;
  }

  .card {
    border-right: solid 3px white;
  }

  .card:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .card:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .card.left-expand {
    border-right: 3px solid white;

  }

  .strip.closed:hover {
    background-color: #4a8b1b;
    transition: 0.3s;
  }

  .strip.open {
    background: #ECF1EB;
    border-right: solid 1px rgb(191, 191, 191);
  }

  .strip.closed {
    background: #397013;
    color: white;
  }

  .strip h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
    padding: 10px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    background-color: #ECF1EB;

    .details-title {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 5vh 5vw;

      div {
        width: 40%;

        h3 {
          margin-top: 0vh;
          font-size: 40px;
        }

        h4 {
          font-size: 30px;
        }
      }

      .description {
        color: gray;
        font-weight: 500;
        font-size: 15px;
        width: 40%;
      }

      #mobile-products-btn {
        display: none;
      }
    }

    .details-img {
      display: flex;
      justify-content: center;

      img {
        margin: 0 auto;
        width: 70vw;
        height: 60vh;
        object-fit: cover;
        border-radius: 30px;
      }

      #card {
        position: absolute;
        width: 30vw;
        backdrop-filter: blur(30px);
        border: solid 2px white;
        border-radius: 20px;
        left: 45%;
        margin-top: 250px;

        .background {
          background-color: rgb(255, 255, 255, 0.8);
          border-radius: 15px;
          padding: 1vw;
          width: 28vw;
        }
      }
    }
  }

  .card.left-expand {
    flex-direction: row-reverse;
  }

  .card.left-expand .strip {
    border-right: none;
    border-left: 1px solid #ddd;
  }

  h3 {
    font-size: 20px;
    margin-top: 100px;
  }
}

/*contact*/

#contact {
  background: url("https://agricoh.iarc.fr/banner1.jpg");
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    font-family: "DM Sans", sans-serif;
    background-color: white;
    height: 65vh;
    width: 70vw;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 2vw;

    .sub-container {
      width: 50%;
      margin: 2vh 0vw;

      h1,
      h2,
      h3 {
        margin: 2vh 0vw;
      }

      a{
        .icon{
          font-size: 40px;
        }
      }

    }
  }

  #contact-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;

    label {
      color: gray;
    }

    input,
    textarea {
      border: none;
      background-color: #F1F6F2;
      border-radius: 10px;
      font-family: inherit;
    }

    input {
      padding: 10px 15px;
    }

    .textarea {
      flex-grow: 2;
    }

    textarea {
      width: 32vw;
      height: 20vh;
    }
  }

  .green-button {
    margin-top: 2vh;
  }
}

/*about us page*/
#about-us {
  margin: 15vh 5vw;
  font-family: "DM Sans", sans-serif;

  h1 {
    font-size: 3vw;
    margin: 5vh 0vw;
    color: #397013;
  }

  .story,
  .mission {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;

    div {
      width: 50%;
    }

    img {
      width: 40vw;
      height: 20vw;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .process {
    h1 {
      color: black;
      font-size: 2vw;
      margin: 5vh 0vw 2vh 0vw;
    }

    .cards-list {
      display: flex;
      gap: 2vw;

      .card {
        h1 {
          font-size: 5vw;
          color: #397013;
          margin-bottom: -5vh;
          z-index: 0;
        }

        .text {
          padding: 10px 20px;
          border-radius: 20px;
          z-index: 1;
          position: relative;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          background-color: white;
          height: 25vh;

          .title {
            display: flex;
            align-items: center;
            margin-bottom: 2vh;
            gap: 1vw;

            .icon {
              background-color: wheat;
              padding: 10px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

/*products-page*/

#products-page {
  margin: 15vh 5vw;
  font-family: "DM Sans", sans-serif;
  h1{
    font-size: 3vw;
    color: #397013;
    margin-bottom: 10vh;
  }
  .products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
    .product-card{
      text-align: center;
      h2{
        font-size: 2vw;
      }
      h4{
        font-size: 1vw;
        color: gray;
      }
      .sub-card{
        display: flex;
        justify-content: center;
        align-items: center;
        .card-text:first-of-type{
          margin-right: -12vw;
          margin-top: -10vh;
        }
        .card-text:last-of-type{
          margin-left: -12vw;
          margin-bottom: -10vh;
        }
        .card-text{
          width: 10vw;
          border-radius: 20px;
          border: solid 2px white;
          backdrop-filter: blur(30px);
          .background{
            padding: 10px 0;
            border-radius: 20px;
            background-color: rgba(236, 236, 236, 0.6);
            ul{
              list-style: none;
            }
          }
        }
        img{
          width: 70vh;
          height: 70vh;
          object-fit: contain;
        }
      }
      h5{
        color: black;
        font-size: 1.5vw;
      }
      .sizes{
        padding: 0vh 0vw;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        .size-subset{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        label{
          margin-right: 10px;
          font-weight: 600;
        }
        input{
          background-color: wheat;
          border: none;
          padding: 5px 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          font-family: inherit;
        }
        button{
          background-color: #397013;
          border: none;
          color: white;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 0px 10px;
        }
        button:hover{
          cursor: pointer;
          background-color: #4a8b1b;
        }
      }
    }
  }
  #cart-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cart-content {
    position: fixed;
    bottom: 100px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: none;
}

#cart-content.visible {
    display: block;
}
#cart{
  ul{
    list-style: none;
    button{
      background-color: transparent;
      border: none;
      svg{
        margin-bottom: -7px;
        margin-left: 10px;
      }
    }
    button:hover{
      cursor: pointer;
    }
  }
}
}

/*footer*/
footer {
  background-color: #397013;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  .logo {
    width: 10vw;
    height: auto;
    object-fit: contain;
  }

  a{
    color: white;
  }

  ul {
    list-style: none;
    font-family: "DM Sans", sans-serif;
    display: flex;
    gap: 2vw;

    li {
      margin-bottom: 2vh;
    }

    a {
      color: white;
    }

    a:hover {
      color: gray;
    }
  }

  div {
    color: white;
    font-family: "DM Sans", sans-serif;
  }
}