@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden !important;
        margin: 0 auto;
    }

    .green-button {
        padding: 5px 10px;
        font-size: 7px;
    }

    /*navbar*/

    nav {
        margin: -2vh 0vw 2vh 0vw;
        padding: 3vh 0vw 2vh 0vw;
        width: 100vw !important;
        top: 0;
        left: 0;
        width: 90vw;
        height: 7vh;
        z-index: 999;
        gap: 0vw;
        border-radius: 0px;
    }

    .logo-nav {
        width: 10vh;
    }

    #navbar {
        gap: 5vw;
        font-size: 10px;
    }

    #contact-button {
        display: none;
    }

    /*hero*/

    #hero {
        background-image: url('./hero-mobile.jpg');
        background-size: cover;
        margin: 10vh 0vw;
        height: 100vh;
        gap: 0vh;
        justify-content: center;

        .background{
            background-color: rgb(255, 255, 255, 0.4);
            padding: 10px 15px;
            height: 37vh;
            border-radius: 20px;
        }

        .hero-text {
            backdrop-filter: blur(30px);
            border: solid 2px white;
            height: 37vh;
            width: 80vw;
            border-radius: 20px;
            margin-top: 50vh;
            overflow-y: hidden;
        }

        .hero-img {
            margin: 0;
        }

        .hero-small-text {
            padding-top: 10px;
            font-size: 15px;
            color: rgb(67, 67, 67);
        }

        h1 {
            line-height: 45px;
            font-size: 10vw;
            overflow-y: hidden;
        }

        .hero-description {
            margin: 0vh 0vw 1vh 0vw;
        }

        #desktop-btn {
            display: none;
        }

        #mobile-hero-btn{
            display: flex;
            align-items: center;
            width: 35vw;
            margin: 2vh 0vw;
            font-size: 15px;
        }

        .hero-img-desktop {
            display: none;
        }

        #card {
            display: none;
        }
    }

    /*products*/

    #products {
        margin: 0vh 6vw;
        padding: 5vh 0vw;

        h1 {
            margin-bottom: 2vh;
            font-size: 20px;
        }

        #cards {
            gap: 3vw;
            justify-content: flex-start;

            .card {

                img.product-img {
                    width: 20vw;
                    height: 10vh;
                }

                #card {
                    margin-top: -3vh;

                    .background {
                        padding: 5px 0px;

                        h3 {
                            font-size: 10px;
                        }

                        p {
                            font-size: 5px;
                        }

                        .svg {
                            width: 5px;
                        }
                    }
                }

            }
        }
    }

    /*contact*/

    #contact {
        height: 50vh;
        width: 100vw;
        justify-content: center;
        flex-wrap: wrap;

        .container {
            height: 30vh;
            width: 55vw;
            padding: 10px 20px;
            gap: 2vw;

            .sub-container {
                width: 50%;
                margin: 0vh 0vw;

                h1,
                h2,
                h3 {
                    margin: 2vh 0vw;
                }

                h1 {
                    font-size: 15px;
                }

                h2 {
                    font-size: 10px;
                }

                h3 {
                    font-size: 7px;
                }

                p {
                    font-size: 7px;
                }

                img {
                    width: 25px;
                    object-fit: cover;
                }

            }
        }

        #contact-form {
            display: flex;
            gap: 1vw;

            label {
                color: gray;
                font-size: 7px;
            }

            input,
            textarea {
                border-radius: 10px;
            }

            input {
                padding: 0px 5px;
                width: 30px;
            }

            .textarea {
                flex-grow: 2;
            }

            textarea {
                width: 20vw;
                height: 3vh;
            }
        }

        .submit {
            padding: 5px 10px;
            margin: 1vh 0vw;
            font-size: 7px;
        }
    }

}