@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden !important;
        margin: 0 auto;
    }

    .green-button {
        padding: 5px 10px;
        font-size: 7px;
    }

    /*navbar*/

    nav {
        margin: -2vh 0vw 2vh 0vw;
        padding: 2vh 0vw 2vh 0vw;
        width: 100vw;
        height: 6vh;
        gap: 0vw;
        border: none;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .logo-nav {
        width: 10vh;
    }

    #navbar {
        gap: 5vw;
        font-size: 11px;
    }

    #contact-button {
        display: none;
    }

    /*hero*/

    #hero {
        background-image: url('/mobile-hero-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 15vh 5vw;

        .hero-text {
            .header {
                color: wheat;
            }

            h1 {
                font-size: 15vw;
                font-weight: 700;
                line-height: 8vh;
                color: wheat;
                height: auto;
                overflow-y: hidden;

                span {
                    color: wheat;
                }
            }

            .hero-description {
                display: none;
            }

            #action-buttons {
                display: none;
            }

            #mobile-hero-btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 2vw;
                height: 5vh;
                margin: 2vh 0vw;
                padding: 5px 20px;
                font-family: 'Lovelo-Black', sans-serif;

                p {
                    font-size: 15px;
                }

            }
        }

        .hero-img {
            display: none;
        }

    }

    /*intro*/

    #intro {
        height: 55vh;
        padding: 5vh;

        .content {
            gap: 5vw;
            flex-direction: column;

            div {
                width: auto;

                .header {
                    font-size: 15px;
                }

                .title {
                    font-size: 35px;
                    font-weight: 650;

                    span {
                        color: #397013;
                    }
                }

                .description {
                    display: none;
                }

            }
        }

        button {
            display: inline-block;
            font-size: 15px;
            padding: 5px 20px;
            font-family: 'Lovelo-Black', sans-serif;
        }
    }

    /*benefits*/

    #benefits {
        margin: 5vh 5vw 0vh 5vw;

        h1 {
            font-size: 30px;
        }

        .cards-list {
            margin: 5vh 0vw;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5vw;

            .card {
                gap: 2vw;
                border-radius: 20px;
                width: 70vw;
                height: 15vh;
                overflow-y: hidden;
            }

            img {
                width: 15vh;
                height: 15vh;
                border-radius: 20px;
            }
        }
    }

    /*products*/

    #products {

        .header {
            text-align: center;
        }

        .products-title {
            flex-direction: column;
            margin-bottom: 5vh;
            text-align: center;

            button {
                font-family: 'Lovelo-Black', sans-serif;
                font-size: 12px;
                margin-top: 2vh;
            }

            h1 {
                font-size: 30px;
            }
        }

        #cards {
            flex-direction: column;
        }

        .card {
            max-width: 100%;
            flex-direction: column;
        }

        .card.left-expand {
            flex-direction: column;
        }

        .card:first-child {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .card:last-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }


        .card.expanded {
            max-width: 90%;
        }

        .strip {
            height: 50px;
            width: 70vw;
            border-right: none;
            border-bottom: 1px solid white;
        }

        .strip h3 {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            font-size: 20px;
        }

        .product-details {
            display: flex;
            flex-direction: column;
            width: 100%;

            .details-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 5vh 5vw;

                div {
                    width: 100%;

                    h3 {
                        font-size: 20px;
                    }
                }

                .description {
                    display: none;
                }

                #mobile-products-btn {
                    display: block;
                    margin: 2vh 0;
                }
            }

            .details-img {
                justify-content: center;
                margin: 2vh;

                img {
                    margin: 0;
                    width: 80%;
                    height: 20vh;
                    object-fit: cover;
                    border-radius: 15px;
                }

                #card {
                    display: none;
                }
            }
        }

        .product-img {
            max-width: none;
            margin: 5px;
        }

        .background {
            flex-direction: column;
        }
    }

    /*contact*/

    #contact {
        height: auto;
        width: 100vw;
        justify-content: center;
        flex-wrap: wrap;

        .container {
            height: auto;
            width: 70vw;
            padding: 10px 20px;
            margin: 2vh 2vw;
            gap: 2vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sub-container {
                width: 100%;
                margin: 0vh 0vw;

                h1,
                h2,
                h3 {
                    margin: 2vh 0vw;
                }

                h1 {
                    font-size: 30px;
                }

                h2 {
                    font-size: 20px;
                }

                h3 {
                    font-size: 15px;
                }

                p {
                    font-size: 10px;
                }

                img {
                    width: 30px;
                    object-fit: cover;
                }

            }
        }

        #contact-form {
            gap: 7vw;

            div {
                width: 30vw;
            }

            label {
                font-size: 15px;
            }

            input,
            textarea {
                border-radius: 10px;
            }

            input {
                padding: 5px 5px;
                width: 100px;
            }

            .textarea {
                flex-grow: 2;
            }

            textarea {
                width: 80vw;
                height: 5vh;
            }
        }

        .green-button {
            font-size: 10px;
        }
    }

    /*about us page*/
    #about-us {
        margin: 7vh 5vw;

        h1 {
            font-size: 8vw;
            margin: 4vh 0vw;
        }

        .story,
        .mission {
            margin-top: 5vh;
            flex-direction: column;
            gap: 5vh;

            div {
                width: 100%;
            }

            img {
                width: 100%;
                height: 30vh;
            }
        }

        .process {
            h1 {
                font-size: 7vw;
            }

            .cards-list {
                flex-direction: column;

                .card {
                    h1 {
                        font-size: 20vw;
                    }
                }
            }
        }
    }
}