@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden !important;
        margin: 0 auto;
    }

    .green-button {
        padding: 5px 10px;
        font-size: 7px;
    }

    /*navbar*/

    nav {
        margin: -2vh 0vw 2vh 0vw;
        padding: 2vh 0vw 2vh 0vw;
        width: 100vw;
        height: 6vh;
        gap: 0vw;
        border: none;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .logo-nav {
        width: 10vh;
    }

    #navbar {
        gap: 5vw;
        font-size: 11px;
    }

    #contact-button {
        display: none;
    }

    /*hero*/

    #hero {
        background-image: url('/hero-mobile.jpg');
        background-size: cover;
        margin: 0vh 0vw;
        height: 100vh;
        gap: 0vh;
        justify-content: center;

        .hero-text {
            backdrop-filter: blur(30px);
            border: solid 2px white;
            height: 35vh;
            width: 80vw;
            border-radius: 20px;
            margin-top: 55vh;
            overflow-y: hidden;
            margin-bottom: 5vh;
        }

        .background {
            background-color: rgb(255, 255, 255, 0.4);
            padding: 10px 15px 10vh 15px;
            height: 25vh;
            border-radius: 20px;
            overflow-y: hidden;
        }

        .hero-img {
            margin: 0;
        }

        .hero-small-text {
            padding-top: 10px;
            font-size: 15px;
            color: rgb(67, 67, 67);
        }

        h1 {
            line-height: 45px;
            font-size: 10vw;
            overflow-y: hidden;
        }

        .hero-description {
            display: none;
        }

        #desktop-btn {
            display: none;
        }

        #mobile-hero-btn {
            display: flex;
            align-items: center;
            width: 35vw;
            margin: 2vh 0vw;
            font-size: 15px;
        }

        .hero-img-desktop {
            display: none;
        }

        #card {
            display: none;
        }
    }

    /*intro*/

    .intro {
        height: 75vh;
        padding: 5vh;

        .content {
            gap: 2vw;
            flex-direction: column;
            justify-content: end !important;

            div {
                width: auto;
            }
        }

        .header {
            font-size: 15px;
        }

        .title {
            font-size: 30px;

            span {
                color: #397013;
            }
        }

        .description {
            display: none;
        }

        button {
            display: inline-block;
            font-size: 15px;
        }
    }

    /*benefits*/

    #benefits {
        margin: 10vh 5vw 2vh 5vw;

        h1 {
            font-size: 30px;
        }

        .card {
            margin: 5vh 0vw;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5vw;

            .sub-card {
                gap: 2vw;
                border-radius: 20px;
                width: 70vw;
                height: 25vw;
            }

            img {
                width: 25vw;
                height: 25vw;
                border-radius: 20px;
            }
        }
    }

    /*products*/

    #products {
        margin: 5vh 5vw;

        .products-title {
            font-family: "DM Sans", sans-serif;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vh;

            h1 {
                font-size: 40px;
            }

            span {
                color: #397013;
            }

            p {
                font-weight: 500;
                color: gray;
            }
        }

        #cards {
            flex-direction: column;
        }

        .card {
            max-width: 100%;
            margin-bottom: 0px;
        }

        .card:first-child {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .card:last-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }


        .card.expanded {
            max-width: 90%;
        }

        .strip {
            height: 50px;
            width: 70vw;
            border-right: none;
            border-bottom: 1px solid white;
        }

        .strip.open {
            background: #f0f0f0;
        }

        .strip.closed {
            background: #397013;
        }

        .strip h3 {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            font-size: 20px;
        }

        .card.left-expand {
            flex-direction: column;
        }

        .product-details {
            display: flex;
            flex-direction: column;
            background-color: #ECF1EB;
            width: 100%;

            .details-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 5vh 5vw;

                div {
                    width: 100%;

                    h3 {
                        font-size: 20px;
                    }
                }

                .description {
                    display: none;
                }

                #mobile-products-btn {
                    display: block;
                    margin: 2vh 0;
                }
            }

            .details-img {
                justify-content: center;
                margin: 2vh;

                img {
                    margin: 0;
                    width: 80%;
                    height: 20vh;
                    object-fit: cover;
                    border-radius: 15px;
                }

                #card {
                    display: none;
                }
            }
        }

        .product-img {
            max-width: none;
            margin: 5px;
        }

        .background {
            flex-direction: column;
        }
    }

    /*contact*/

    #contact {
        height: 50vh;
        width: 100vw;
        justify-content: center;
        flex-wrap: wrap;

        .container {
            height: 30vh;
            width: 55vw;
            padding: 10px 20px;
            gap: 2vw;

            .sub-container {
                width: 50%;
                margin: 0vh 0vw;

                h1,
                h2,
                h3 {
                    margin: 2vh 0vw;
                }

                h1 {
                    font-size: 15px;
                }

                h2 {
                    font-size: 10px;
                }

                h3 {
                    font-size: 7px;
                }

                p {
                    font-size: 7px;
                }

                img {
                    width: 25px;
                    object-fit: cover;
                }

            }
        }

        #contact-form {
            display: flex;
            gap: 1vw;

            label {
                color: gray;
                font-size: 7px;
            }

            input,
            textarea {
                border-radius: 10px;
            }

            input {
                padding: 0px 5px;
                width: 30px;
            }

            .textarea {
                flex-grow: 2;
            }

            textarea {
                width: 20vw;
                height: 3vh;
            }
        }

        .submit {
            padding: 5px 10px;
            margin: 1vh 0vw;
            font-size: 7px;
        }
    }

}